.ContactData {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #beb8b2;
    width: 80%;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}



