.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all .5s;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border-bottom: 2px solid #720303;
}

.ValidationError {
    color: #720303;
    animation: errorMove .5s;
}

@keyframes errorMove {
    0% {
        opacity: 0;
        transform: translateY(-40px) skewX(20deg);
        color: #ec2c2c;
    }

    100% {
        opacity: 1;
        transform: translate(0) skewX(0);
        color: #720303;
    }

}