.Auth {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #beb8b2;
    width: 80%;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

.Error {
    color: red;
    animation: showError 2s;
}

@keyframes showError {
    0%{
        transform: translateY(-100px) ;
        opacity: 0;
    }

    50%{
        transform: translateY(0px);
    }

    75%{
        transform: translateY(-10px);
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}



